<p id="notice"><%= notice %></p>

<h1>Notes</h1>
search: <input type="text" id="search-note"> <input type="button" value="search" id="src-btn">

<div id="notes-searchable">
  <%= render 'list_notes', notes: @notes %>
</div>

<br>

<%= link_to 'New Note', new_user_note_path(current_user) %>
<%= render 'search_action', url: search_user_notes_url(current_user.id)  %>